<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <style>
        /* Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Set the layout to take full viewport height */
        html, body {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .body-content {
            flex: 1; /* Makes the main content area take available space */
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #f8f8f8;
        }

        .footer-links {
            list-style-type: none;
            padding: 0;
        }

            .footer-links li {
                display: inline;
                margin: 0 10px;
            }

        .social-media {
            margin-top: 10px;
        }

            .social-media a {
                margin: 0 5px;
                text-decoration: none;
                color: #333;
            }
    </style>

    @RenderSection("Styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: black;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("67 Blankets Mandela Day APP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Shop", "Shop", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <!-- Main Content Container -->
    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- Sticky Footer -->
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        <p>Contact us: 67BlanketsMandelaDayInitiative@gmail.com | Phone: +27 067 833 0818</p>
        <div class="social-media">
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </div>
        <p class="disclaimer">All rights reserved. Terms and conditions apply.</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
